/* src/app/globals.css */
@import "tailwindcss";

/* O Tailwind v4 já inclui base, components e utilities automaticamente no import acima */

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  font-family: sans-serif;
}